body{
    background-color: rgb(60, 235, 60);
}

#score
{
    font-size: 18px;
    float: left;
    margin-left: 100px;
}

#timer{
    
font-size: 18px;
float: right;
margin-right: 100px;

}

#sketch_name
{
    color: red;
    font-weight: 1000;
    font-size: 24px;
}

h1{
    background-color: rgb(109, 241, 109);
    color: rgb(41, 52, 38);
}

#show_sketch{
    float: right;
}